<div class="add-form-container">
    <h2>Add client</h2>
    <form [formGroup]="customerForm" (ngSubmit)="addcustomer()">
      <div class="form-group">
        <label for="custName">Name:</label>
        <input type="text" formControlName="custName" class="form-control" id="custName">
      </div>
      <div class="form-group">
        <label for="custEmail">Email:</label>
        <input type="text" formControlName="custEmail" class="form-control" id="custEmail">
      </div>
      <div class="form-group">
        <label for="custPhone">Phone:</label>
        <input type="text" formControlName="custPhone" class="form-control" id="custPhone">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
      {{ successMessage }}
    </div>
</div>
