<div class="add-form-container">
    <h2>Add trainer</h2>
    <form [formGroup]="coachForm" (ngSubmit)="addcoach()">
      <div class="form-group">
        <label for="coachName">Name:</label>
        <input type="text" formControlName="coachName" class="form-control" id="coachName">
      </div>
      <div class="form-group">
        <label for="coachPhone">Phone:</label>
        <input type="text" formControlName="coachPhone" class="form-control" id="coachPhone">
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
      {{ errorMessage }}
    </div>
    <div *ngIf="successMessage" class="alert alert-success mt-3" role="alert">
      {{ successMessage }}
    </div>
</div>
